#### 1: Import the dataset

In [2]:
#Import the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
#Import the advertising dataset
df = pd.read_csv(r"C:\Users\Asus\Documents\Dataset\Advertising Budget and Sales.csv")
df = df.iloc[:,1:]

#### 2: Analyze the dataset

In [7]:
#View the initial few records of the dataset
df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
0             230.1                 37.8                     69.2       22.1
1              44.5                 39.3                     45.1       10.4
2              17.2                 45.9                     69.3        9.3
3             151.5                 41.3                     58.5       18.5
4             180.8                 10.8                     58.4       12.9

In [9]:
#Check the total number of elements in the dataset
df.size

800

#### 3: Find the features or media channels used by the firm

In [8]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df.shape

(200, 4)

In [10]:
#View the names of each of the attributes
df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [11]:
#Create a feature object from the columns
X = df.iloc[:,0:3]

In [12]:
#View the feature object
X.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0             230.1                 37.8                     69.2
1              44.5                 39.3                     45.1
2              17.2                 45.9                     69.3
3             151.5                 41.3                     58.5
4             180.8                 10.8                     58.4

In [13]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y = df['Sales ($)']

In [14]:
#View the target object
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales ($), dtype: float64

In [15]:
#Verify if all the observations have been captured in the feature object
X.shape

(200, 3)

In [16]:
#Verify if all the observations have been captured in the target object
y.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [17]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12)

In [18]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((150, 3), (50, 3), (150,), (50,))

#### 6: Create a model  to predict the sales outcome

In [19]:
#Create a linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [20]:
#Print the intercept and coefficients 
print(lr.intercept_)
print(lr.coef_)

3.0510623366409586
[ 0.04447126  0.19333577 -0.0034379 ]

In [23]:
#Predict the outcome for the testing dataset
y_pred = lr.predict(X_test)
print(y_pred)

[16.38115263  6.55025535  7.75030361 14.51376139 13.31212116 17.22534888
 22.73878678  7.56053546 11.08656523 12.14600927 16.24076441 11.86870148
  8.67613419 14.35741894 23.93646895  9.9002459  11.30320698 12.75038191
 13.71784747 14.97441783 20.81973103 11.04226403 22.903548    7.87340506
 16.31816989  9.35962386 13.18636978 11.65559463  3.62295984 11.69764903
  9.14383918 23.90759353 16.29448866 21.01709681  6.14159076 19.75539424
 12.28835374 21.24090884 12.47307965 12.63423855 13.87110042 21.67955098
 10.49650336 18.33024989 17.2468433   9.12127665 10.66900593 15.25768465
 14.25658311  8.19473893]

#### 7: Calculate the Mean Square Error (MSE)

In [24]:
#Calculate the MSE
print(mean_squared_error(y_test, y_pred))

2.7249692399408407